.content{
    color: aliceblue;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    z-index: 2;
}
.title{
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
    line-height: 50px;
    color: #fff;
    z-index: 2;
}
.background {
    position: relative;
    background-image: url('../ImageJeepBicycle/GioiThieu/GioiThieu05.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
}
.titleContent{
    font-family: Roboto,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 78px;
    margin-bottom: 60px;
}
.contentTitle{
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 40px;
}
.footerbackground{
    position: relative;
    background-image: url('../ImageJeepBicycle/GioiThieu/z5430296564459_de864f88c424113b9d9009e8df907c1c.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.footerbackground::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
}
.footertitle{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: rgb(237, 28, 36);
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 20px;
}
.footercontent{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
}
.footerbutton{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 25px;
    background-color: rgb(223, 60, 10);
}

.backgroudVoucher {
    position: relative;
    background-image: url('../ImageJeepBicycle/GioiThieu/flashsale.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}


.backgroudVoucher::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
}