.background {
    position: relative;
    background-image: url('../ImageJeepBicycle/bannner.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    z-index: 1;
}

.background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
}