.ImgTitle {
    font-family: "ESL Legend";
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 80px;
    color: white;
}

.btnkhampha {
    background: linear-gradient(to right, #F9763F 0%, #ED1C24 100%);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 21px;
    margin-top: 10px;
}

.bgtuvan {
    position: relative;
    background-image: url('../ImageJeepBicycle/GioiThieu/z5430296564459_de864f88c424113b9d9009e8df907c1c.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.bgtuvan::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
}

.titletuvan {
    font-weight: 700;
    font-style: normal;
    font-size: 64px;
    color: #ed1c24;
    line-height: 83px;
}

.contenttuvan {
    font-weight: 700;
    font-style: normal;
    font-size: 64px;
    color: white;
    line-height: 83px;
}

.titleproduct {
    font-weight: 700;
    font-style: normal;
    font-size: 46px;
    line-height: 60px;
    color: rgb(10, 10, 10);
    text-align: center;
}

.bgInformation {
    position: relative;
    background-image: url("../ImageJeepBicycle/TrangChu/trangchu31.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 450px;
}

.bgInformation::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
}

.titleInformation {
    font-weight: 600;
    font-style: normal;
    font-size: 46px;
    line-height: 46px;
    color: white;
    font-family: Roboto, sans-serif;
}

.nameproduct{
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    color: rgb(10, 10, 10);
    font-family: Roboto, sans-serif;
}

.titleDichVu {
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    line-height: 46px;
    color: rgb(27, 62, 65);
    text-align: center;
}

.titleDichVuCon {
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    line-height: 45px;
    color: rgb(27, 62, 65);
    text-align: center;
}

.contentDichVu {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: rgb(116, 134, 136);
    font-family: Roboto, sans-serif;
}

.titlecomment {
    font-weight: 700;
    font-style: normal;
    font-size: 46px;
    line-height: 60px;
    color:
        rgb(10, 10, 10);
}
.contentcomment{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgb(10, 10, 10);
    font-family: Roboto, sans-serif;
}
.namecomment {
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 42px;
    color: rgb(10, 10, 10);
    font-family: Roboto, sans-serif;
}
